 <div ng-controller="dashboardController">

     <div>
         <b><u>Choose game:</u></b>
         <p></p>

         <div ng-repeat="game in games">
             <p>
                 <a style="cursor:pointer;" ng-click="joinGame(game)">{{game.name}}</a>
                 <a style="cursor:pointer;" ng-click="deleteGame(game)"><b>X</b></a>
             </p>
             
             <u ng-show="game.players.length > 0">Active players:</u>
             <div ng-show="game.players.length === 0">no active players</div>
             <p>
                 <div ng-repeat="player in game.players">
                     {{player.username}}
                 </div>
             </p>
             <hr />
         </div>
     </div>

     <img ng-show="isGamesLoading" src="/images/loader.gif" />

     <div>
         
         <input type="text" placeholder="Name" ng-model="game.name" />
         <button type="submit" class="btn btn-primary btn-lg" ng-click="createGame(game)">Create new game</button>

     </div>
</div>