 <div ng-controller="dashboardController">
 	<div ng-show="loggedPlayer != null">
        Hello <b>{{loggedPlayer.username}}</b> | <a href="#" ng-click="logout()">Logout</a>
    </div>




	<div ng-repeat="game in games" ng-click="joinGame(game._id);" class="gameListItem row" >
        <div class="col-xs-6" style="text-align:left;">
        	{{game.name}}
        	<a style="cursor:pointer;" ng-click="deleteGame(game)"><b>X</b></a>
        </div>
        <div class="col-xs-6">{{game.players.length}}
        	<div ng-repeat="player in game.players">
        		{{player.username}}
            </div>
        </div>
    </div>

     <img ng-show="isGamesLoading" src="/images/loader.gif" />

     <div>
         
         <input type="text" placeholder="Name" ng-model="game.name" />
         <button type="submit" class="btn btn-primary btn-lg" ng-click="createGame(game)">Create new game</button>

     </div>
</div>