 <div ng-controller="dashboardController">
 	<div ng-show="loggedPlayer != null">
        Hello <b>{{loggedPlayer.username}}</b> | <a href="#" ng-click="logout()">Logout</a>
    </div>




	<div ng-repeat="game in games" ng-click="joinGame(game._id);" class="gameListItem row">

		<table style="width:100%;">
			<tr>
				<td style="width:100px;">
					<div class="Bold Txt40">{{game.players.length}}</div>
					<div style="position: relative;top: -11px;">Players</div>
				</td>
				<td style="text-align:left;">
					<div class="Txt23">{{game.name}}</div>
					<div>
						<span class="Gray">|</span>
						<span ng-repeat="player in game.players">
							{{player.username}} <span class="Gray">|</span>
						</span>
					</div>
				</td>
				<td style="width:100px;">
                    <a style="cursor:pointer;" ng-show="game.admin === currentPlayer._id" ng-click="deleteGame(game); $event.stopPropagation();"><b>X</b></a>
				</td>
			</tr>
		</table>

    </div>

     <img ng-show="isGamesLoading" src="/images/loader.gif" />

     <div>
         
         <input type="text" placeholder="Name" ng-model="game.name" />
         <button type="submit" class="btn btn-primary btn-lg" ng-click="createGame(game)">Create new game</button>

     </div>
</div>