
<div ng-controller="gameController">

    <div style="position: fixed;top: 0px;left: 0px;">
        <button type="submit" class="btn pull-left"  ng-click="leaveGame()">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        </button>
    </div>
    <div style="position: fixed;top: 0px;right: 0px;">
        <a href="whatsapp://send?text=http://localhost:1442/#/game/5776693c4e09d5e7522da3cc" data-action="share/whatsapp/share">
            <button type="submit" class="btn pull-left">
                <span class="glyphicon glyphicon-share" aria-hidden="true"></span> Whatsapp
            </button>
        </a>
    </div>
    <div style="position: fixed;bottom: 0px;right: 0px;">
        <div class="Txt11 RTL">{{currentGame.name}}</h3>
    </div>

    


    <div class="pokerTable">
      <div ng-repeat="player in currentGame.players track by $index" class="seat seat{{$index+1}}" ng-class="{'mySeat':player._id == currentPlayer._id,'advantageSeat':advantage==player._id,'winnerSeat':winner==player._id,'loserSeat': winner !== null && winner !== player._id}">
        
        <div>
          <span class="glyphicon glyphicon-user" aria-hidden="true" style="font-size:10px;" ng-show="isAdmin(player)"></span>
          {{player.username}}
        </div>

        <div style="" class="">
          <img ng-repeat="card in getPlayerHand(player)" ng-src="/images/cards/png-sm/{{card | lowercase}}.png" class="playerCard" />
        </div>
        <div ng-show="isPlayerWinner(player)" style="color:lime;">Winner</div>
      </div>
    </div>


    <div class="startGame">
        <button type="submit" class="btn btn-primary btn-lg" style="position:fixed;top: 43%;left: 40%;" ng-if="currentPlayer._id == currentGame.admin" ng-hide="isGameInProgress" ng-click="startGame()">Start game</button>
      
      <div>
        <div ng-show="myChances != null && win === false">Your chances are: {{myChances}}%</div>
      </div>
      
      <div>
        <img ng-repeat="card in game.community" ng-src="/images/cards/png-sm/{{card | lowercase}}.png" class="playerCard" style="width: 20%;" />
      </div>
    </div>
</div>
