
<div ng-controller="gameController">

    <div style="position: fixed;top: 0px;right: 0px;">
        <button type="submit" class="btn pull-right"  ng-click="leaveGame()">Leave game</button>

        <h3 style="font-size:9px;">{{currentGame.name}}</h3>
    </div>


    <div class="pokerTable">
        <div ng-repeat="player in currentGame.players track by $index" class="seat seat{{$index+1}}" ng-class="{'mySeat':player._id == currentPlayer._id}">
            {{player._id == currentPlayer._id ? "You" : player.username}}
            <div ng-show="isPlayerWinner(player)" style="color:lime;">Winner</div>

            
            <div style="position: relative;left: 100%;top: -100%;" class="">
                <div class="card" style="    width: 5%;height: 10%;position: fixed;"></div>
                <div class="card" style="    width: 5%;height: 10%;position: fixed;margin-left: -5%;"></div>
                {{getPlayerHand(player)}}
            </div>


        </div>
        

    </div>


    <div class="startGame">

<button type="submit" class="btn btn-primary btn-lg " ng-hide="disableStartGameButton || currentGame.players.length == 1" ng-click="startGame()">Start game</button>

<div>
    <div ng-show="myChances != null && win === false">Your chances are: {{myChances}}%</div>

 <div ng-repeat="card in ComunityCards">
        {{card}}
        <!-- <div ng-bind-html="getCardHtml(card.rank, card.suit)"></div> -->
    </div>
</div>

    </div>


    
    <!-- <div ng-repeat="card in myCards">
        <div ng-bind-html="getCardHtml(card.rank, card.suit)"></div>
    </div>-->

   
 

</div>
