
<div ng-controller="gameController">

    <div style="position: fixed;top: 0px;right: 0px;">
        <button type="submit" class="btn pull-right"  ng-click="leaveGame()">Leave game</button>

        <h3 style="font-size:9px;">{{currentGame.name}}</h3>
    </div>
    <b>live on game:</b>


    <div class="pokerTable">
        <div ng-repeat="player in currentGame.players track by $index" class="seat seat{{$index+1}}" ng-class="{'mySeat':player._id == currentPlayer._id}">
            {{$index+1}}. {{player._id == currentPlayer._id ? "You" : player.username}}
        </div>
    </div>





    <button type="submit" class="btn btn-primary btn-lg startGame" ng-disabled="disableStartGameButton || currentGame.players.length == 1" ng-click="startGame()">Start game</button>
    <br />
    <div ng-repeat="card in myCards">
        <div ng-bind-html="getCardHtml(card.rank, card.suit)"></div>
    </div>

    <div ng-show="myChances != null && win === false">Your chances are: {{myChances}}%</div>

    <div ng-show="win" style="color:red;">YOU WON - GET THE MONEY</div>
    <hr />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <br /><br />
    <div ng-repeat="card in ComunityCards">
        <div ng-bind-html="getCardHtml(card.rank, card.suit)"></div>
    </div>
 

</div>
