<div ng-controller="loginController">

    <input type="text" class="form-control input-lg text-center" placeholder="User name" ng-model="formData.username" />
    <input type="password" class="form-control input-lg text-center" placeholder="Password" ng-model="formData.password" />
    <button type="submit" class="btn btn-primary btn-lg" ng-click="login()">Login</button>
    <p style="color:red;">
        {{label}}
    </p>

    <button type="submit" class="btn btn-primary btn-lg" ng-click="FBLogin()">FB login</button>
    <img ng-show="FBUserId != null" src="//graph.facebook.com/{{FBUserId}}/picture">

</div>