<div ng-controller="signupController">

    <input type="text" class="form-control input-lg text-center" placeholder="User name" ng-model="formData.username" />
    <input type="text" class="form-control input-lg text-center" placeholder="Full name" ng-model="formData.fullname" />
    <input type="password" class="form-control input-lg text-center" placeholder="Password" ng-model="formData.password" />
    <button type="submit" class="btn btn-primary btn-lg" ng-click="signup()">Signup!</button>

</div>