

.startGame{
  position: fixed;
  top: 45%;
  left: 50%;
  width: 40%;
  margin-left: -20%;
  margin-top: -3%;
}

.pokerTable{
    width: 84%;
    background: green;
    height: 84%;
    border: solid 8px #3f2b2b;
    border-radius: 80px;
    position: fixed;
    top: 8%;
    left: 8%;
}

.pokerTable .seat{
  border:solid 4px #3f2b2b;
  background: #762222;
  border-radius: 25px;
    width: 15%;
    height: 15%;
  position: fixed;
  color:#fff;
  font-size:16px;
  
}

.playerCard{
  width: 50%;
}

.mySeat{
  background: #cfa62d !important;
}

.adminSeat{
  color:#cf2d2d!important;
}

.advantageSeat{
border: solid 5px #1e517d !important;
    background: #0090ff !important;
    color: white !important;
}

.winnerSeat{
  border: solid 5px #762222 !important;
  background: #ffe500 !important;
  color: #762222 !important;
}

.loserSeat{
  opacity:0.3;
}


.seat1{
  top: 5%;
  left: 20%;
}

.seat2{
  top: 5%;
  left: 43%;
}

.seat3{
  top: 5%;
  left: 66%;
}

.seat4{
    top: 44%;
    left: 84%;
}

.seat5{
      top: 69%;
  left: 66%;
}

.seat6{
    top: 69%;
  left: 43%;
}

.seat7{
    top: 69%;
  left: 20%;
}


.seat8{
  top: 44%;
  left: 16%;
}



/*dashboard page*/
.gameListItem{
        padding: 10px 0px;
    border: solid 1px #ececec;
    margin-bottom: -1px;
}



.RTL{
  direction: rtl;
}

.White, .White a{
    color:#fff;
}

.Blue, .Blue a{
    color:#006caa;
}

.Orange, .Orange a{
    color:#ff6300 !important;
}

.Green, .Green a{
  color:#3ab921;
}

.Red, .Red a{
  color:#f51712;
}

.Gray, .Gray a{
  color: #d8d8d8;
}


.Underline{
    text-decoration:underline;
}

.Bold{
    font-weight:bold;
}
.Bold500{
    font-weight:500;
}
.Bold600{
    font-weight:600;
}
.Bold900{
    font-weight:900;
}

.shadow{
    box-shadow: 0 0 80px 0 rgba(15, 29, 51, .24);
}
.Txt11 {
  font-size: 11px;
}
.Txt12 {
  font-size: 12px;
}
.Txt13 {
  font-size: 13px;
}
.Txt15 {
  font-size: 15px;
}
.Txt16 {
  font-size: 16px;
}
.Txt17 {
  font-size: 17px;
}
.Txt19 {
  font-size: 19px;
}
.Txt21 {
  font-size: 21px;
}
.Txt23 {
  font-size: 23px;
}
.Txt27 {
  font-size: 27px;
}
.Txt28 {
  font-size: 28px;
}
.Txt30 {
  font-size: 30px;
}
.Txt40 {
  font-size: 40px;
}
.Txt57 {
  font-size: 57px;
}


