

.startGame{
      position: fixed;
    top: 50%;
    left: 50%;
    width: 40%;
    margin-left: -20%;
    margin-top: -3%;
}

.pokerTable{
    width: 84%;
    background: green;
    height: 84%;
    border: solid 8px #000;
    border-radius: 80px;
    position: fixed;
    top: 8%;
    left: 8%;
}

.pokerTable .seat{
  border:solid 4px #000;
  background: yellow;
  border-radius: 25px;
    width: 15%;
    height: 15%;
  position: fixed;
  
}

.playerCard{
  width: 50%;
}

.mySeat{
  background: red !important;
}

.seat1{
  top: 5%;
  left: 20%;
}

.seat2{
  top: 5%;
  left: 43%;
}

.seat3{
  top: 5%;
  left: 66%;
}

.seat4{
    top: 44%;
    left: 84%;
}

.seat5{
  top: 90%;
  left: 60%;
}

.seat6{
  top: 90%;
  left: 40%;
}

.seat7{
  top: 90%;
  left: 20%;
}


.seat8{
  top: 40%;
  left: 10%;
}



/*dashboard page*/
.gameListItem{
    padding: 20px;
    border: solid 1px #ececec;
    margin-bottom: -1px;
}